<h1>{{title}}</h1>

<!--검색어, {{search}}는 버튼 눌렀을 때 빈값으로 보이지 않게 하기 위해 설정-->
<input type="text" name="search" id="search" value="{{search}}" size="50" placeholder="검색어를 입력하세요." />
<!--쿼리로 데이터 전송-->
<button onclick="location.href=`/?search=${document.getElementById('search').value}`">검색</button>
<br />

<!--글쓰기 링크 이동-->
<a href="/write"> 글쓰기</a>
<br />

<!--글 목록-->
<div>
    <table>
        <thead>
        <tr>
            <th width="50%">제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
        {{#each posts}}
            <tr>
                <td><a href="/detail/{{_id}}">{{title}}</a></td>
                <td>{{writer}}</td>
                <td>{{hits}}</td>
                <!--                    헬퍼 함수 사용-->
                <td>{{dateString createdDt}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<div>
    {{#with paginator}}
        <!-- << -->
        <a href="/?page=1&search={{@root.search}}">&lt;&lt;</a>

        <!-- link '<' or nolink '<' -->
        {{#if hasPrev}}
            <a href="/?page={{prevPage}}&search={{@root.search}}">&lt;</a>
        {{else}}
            <a>&lt;</a>
        {{/if}}

        <!-- 현재 페이지랑 같은건 그냥 출력, 나머지는 링크를 달아라 -->
        {{#each pageList}}
            {{#if (equal . @root.paginator.page)}}
                <a>{{.}}</a>
            {{else}}
                <a href="/?page={{.}}&search={{@root.search}}">{{.}}</a>
            {{/if}}
        {{/each}}

        <!-- link '>' or nolink '>' -->
        {{#if hasNext}}
            <a href="/?page={{nextPage}}&search={{@root.search}}">&gt;</a>
        {{else}}
            <a>&gt;</a>
        {{/if}}

        <a href="/?page={{lastPage}}&search={{@root.search}}">&gt;&gt;</a>
    {{/with}}
</div>
